version: 1
formatters:
    precise:
        format: '${app_name} | ${hostname} - %(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s- %(message)s'
filters:
    context:
        (): synapse.util.logcontext.LoggingContextFilter
        request: ""
handlers:
    console:
        class: logging.StreamHandler
        formatter: precise
        filters: [context]
loggers:
    synapse:
        level: ${log_level}
    synapse.storage.SQL:
        level: ${log_level}
root:
    level: ${log_level}
    handlers: [console]
